<% include partials/header %>   

   <div class="container day">
   <div class="box">
      <%for(let key in newEvent[eventName]){%>                
         <h1 class="day-no"><%=key.toUpperCase()%></h1>         
         <% for(let i=0;i<newEvent[eventName][key].length;i++){ %>
               <%console.log(newEvent[eventName][key][i]);%>  
               <div class="event-box">
                  <h4><%=newEvent[eventName][key][i].eventname%></h4>
                  <p><%=newEvent[eventName][key][i].eventdesc%></p>
                  <div>
                     <p class="time"><span>Time:</span> <%=newEvent[eventName][key][i].time%></p>
                     <p class="Venue"><span>Venue:</span> <%=newEvent[eventName][key][i].venue%></p>
                  </div>
               </div>
         <%}%>  
      <%}%>
   </div>

<% include partials/footer %>